.album-edit {
	box-sizing: border-box;
	min-width: 320px;
	padding: 0 20px;
}

.album-edit__container {
	box-sizing: border-box;
	margin-bottom: 24px;
}

.album-edit__track-list {
	box-sizing: border-box;
	margin: 24px 0;
}

.album-edit__controls-row {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 24px;
}

.album-edit__control:not(:first-of-type) {
	margin-left: 8px;
}

.album-edit__control:first-of-type {
	margin-right: auto;
}
