.album-view {
	box-sizing: border-box;
	min-width: 320px;
	padding: 0 20px;
}

.album-view__container {
	box-sizing: border-box;
}

.album-view__track-list {
	box-sizing: border-box;
	margin: 24px 0;
}
