.playlist-view {
	box-sizing: border-box;
	min-width: 320px;
	padding: 0 20px;
}

.playlist-view__header {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 73px;
	margin-bottom: 24px;
	padding: 8px 0;
	border-bottom: 1px solid var(--gray-dark);
}

.playlist-view__header > h1 {
	margin-right: 24px;
}

.playlist-view__header-remove-btn {
	margin-left: auto;
}

.playlist-view__container {
	box-sizing: border-box;
	margin-bottom: 24px;
}

.playlist-view__track-list {
	box-sizing: border-box;
}

.playlist-view__track-list-row {
	box-sizing: border-box;
	display: flex;
	margin-bottom: 8px;
}
