.track-card {
	box-sizing: border-box;
	display: flex;
	flex: 1;
}

.track-card__col {
	box-sizing: border-box;
}

.track-card__col:not(:last-child) {
	margin-right: 8px;
}

.track-card__col:nth-child(1) {
	width: 32px;
	min-width: 32px;
}

.track-card__col:nth-child(2) {
	flex: 1;
}

.track-card__col:nth-child(3) {
	width: 60px;
	min-width: 60px;
}

.track-card__number {

}

.track-card__link {

}

.track-card__duration {

}
